Berksfile       text eol=lf
Berksfile.lock  text eol=lf
*.conf          text eol=lf
*.erb           text eol=lf
*.init          text eol=lf
*.json          text eol=lf
*.rb            text eol=lf
*.sh            text eol=lf
